{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    
    <style>
        .btn-type{
            background-color: #d82a4e;
            color: white;
                    }
        .text-danger{
            float: right;
        }
       #img-card{ 
           height: 108px;
           border-top-right-radius: 0mm;
           border-bottom-right-radius: 0mm;
              }
        #total{
            color: #d82a4e;
        }
        .badge { 
            position: relative; 
            top: -12px; 
            left: -8px; 
            border-radius: 50%; 
            color: white;
            background-color: #d82a4e;
       } 
        
    </style>
 {% endblock %}
{% block body %}

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12 col-md-12">


                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="/profile" class="site-btn header-btn">Profile</a>
                    {% elseif not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="/login" class="site-btn header-btn">Login</a>
                    {% endif %}

                    <nav class="main-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="{{ path('all_courses') }}">Courses</a></li>
                            <li><a href="contact.html" >Contact</a></li>
                            <li><a href="{{ path('panier') }}" class="fa fa-shopping-cart">  <span class="badge badge-light">{{items|length}}</span></a></li>
  
                            {% if is_granted('ROLE_STUDENT') %}
                                <li><a href="{{ path('wishlist_courses') }}" class="fa fa-heart">  <span class="badge badge-light">{{w_c_n}}</span></a></li>
                                <li>  <a href="/student/application">JOIN US</a></li>
                            {% endif %}
                            {% if app.user %}
                            <li>  <a href="{{ path('app_logout') }}">Logout</a></li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header section end -->

    <!-- Hero section -->
    <section class="page-info-section set-bg" data-setbg="images/page-bg/1.jpg" style="height: 250px">
        <div class="container">
            <div class="hero-text text-white">
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                </div>
            </div>
        </div>
    </section>
    <!-- Hero section end -->

    <section class="spad pb-0">
        
		<div class="container">
            <p>{{items|length}} courses in cart</p>
            <div class="row">
       
            <div class="col-12 col-sm-6 col-md-8">
            {% for item in items %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{ asset('uploads/images/' ~ item.course.image) }}" class="card-img" alt="..." id="img-card">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                       
                      <h5 class="card-title">{{item.course.title}}</h5>
                      <p class="card-text text-danger "><a href="{{ path('cart_remove', {'id': item.course.id}) }}" class="text-muted">Remove</a> &nbsp; &nbsp; {{item.course.price}} <i class="fa fa-tag"></i></p>
                      <p class="card-text"><small class="text-muted">By {{item.course.author}}</small></p>
                    </div>
                  </div>
                 
              
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="col-6 col-md-4">Total : <br>
                <b id="total">{{total}}</b> <br> <br>
                <button  id="checkout-button" class="site-btn readmore">checkout</button>
            </div>
        </div>
		</div>
	</section>
    

 		
					
						
          {% block javascripts %}
          <script src="https://js.stripe.com/v3/"></script>  
    <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51IGVczEAw23c2xNxfPrgRKCelolBJQE4Bf2nGjML52teJmIUKfILlAiWiOJbDNxXew2isrN0Qyicyyx4fxngz59J00Q0l8rfbE');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>
          
          {% endblock %}
		


{% endblock %}
