{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/admin//assets/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin//assets/vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin//assets/vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{{ asset('assets/admin//assets/vendors/jquery-bar-rating/css-stars.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/admin//assets/vendors/font-awesome/css/font-awesome.min.css') }}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ asset('assets/admin/assets/css/demo_1/style.css') }}" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ asset('assets/admin/assets/images/') }}" />

{% endblock %}
{% block body %}
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile border-bottom">
                <a href="#" class="nav-link flex-column">
                    <div class="nav-profile-image">
                        <img src="{{ asset('uploads/images/' ~ app.user.photo.image) }}" alt="profile" />
                        <!--change to offline or busy as needed-->
                    </div>
                    <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
                        <span class="font-weight-semibold mb-1 mt-2 text-center">{{ app.user.nom }} {{ app.user.prenom }}</span>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profile">
                    <i class="mdi mdi-compass-outline menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-dns menu-icon"></i>
                    <span class="menu-title">Categories</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/categories">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/newcategory">New Category</a>
                        </li>

                    </ul>
                </div>
            </li>
         
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-account-multiple menu-icon"></i>
                    <span class="menu-title">Instructors</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/instructors">Instructors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/applications">Applications</a>
                        </li>

                    </ul>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="pages/icons/mdi.html">
                    <i class="mdi mdi-account-circle menu-icon"></i>
                    <span class="menu-title">Students</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-camera-iris menu-icon"></i>
                    <span class="menu-title"> Enrolments</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/enrolments">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/enrol">Enrol a student</a>
                        </li>

                    </ul>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-contacts menu-icon"></i>
                    <span class="menu-title">Profile</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/profile-edit">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pass-edit">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/photo-edit">Profile Picture</a>
                        </li>

                    </ul>
                </div>
            </li>


        </ul>
    </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div id="settings-trigger"><i class="mdi mdi-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles default primary"></div>
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles light"></div>
                </div>
            </div>
            <!-- partial -->
           <!-- partial:partials/_navbar.html -->
           <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-chevron-double-left"></span>
                </button>
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="/"><img src="{{ asset('assets/admin/assets/images/logo-mini.svg')}}" alt="logo" /></a>
                </div>
              
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="/">
                            <i class="mdi mdi-home-circle"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper col-12 ">
                    <div class="page-header ">
                        <h3 class="page-title"></h3>
                        <nav aria-label="breadcrumb">

                        </nav>
                    </div>
                    <div class="row ">
                        <div class="col-10 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Application {{ application.id }}</h4>
                                    <p class="card-description"></p>
                                    <div class="forms-sample">
                                        <div class="form-group">
                                            <i> <u>First Name:</u></i>
                                            &nbsp; {{ application.name}}
                                        </div>
                                        <div class="form-group">
                                            <i> <u>Last Name:</u></i>

                                            &nbsp;  {{ application.prenom}}
                                        </div>
                                        <div class="form-group">
                                            <i> <u>Emai:</u></i>

                                            &nbsp; {{ application.email}}
                                        </div>
                                        <div class="form-group">
                                            <i> <u>Motivations:</u></i>

                                            &nbsp;  {{ application.message}}
                                        </div>
                                        <div class="form-group">
                                            <i> <u>Phone Number:</u></i>

                                            &nbsp;   {{ application.phone}}
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group col-xs-12">
                                                <i> <u>CV:</u></i>

                                                &nbsp; <a href="{{ asset('uploads/cv/' ~ application.cv) }}"> &nbsp; view CV</a>
                                                <span class="input-group-append">
                                     </span>
                                            </div>
                                        </div>

                                        <a href="/admin/{{ application.id }}/newinstructor">  <button type="submit" class="btn btn-success mr-2">Accept</button></a>
                                        <a href="/admin/delete/{{ application.id }}"> <button type="submit" class="btn btn-danger mr-2">Delete</button></a>

                                        <a href="/admin/applications"> <button class="btn btn-light">Cancel</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- content-wrapper ends -->
                </div>
                <!-- partial -->

            </div>

            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    {% block javascripts %}
        <script src="{{ asset('assets/admin/assets/vendors/js/vendor.bundle.base.js') }}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="{{ asset('assets/admin/assets/vendors/jquery-bar-rating/jquery.barrating.min.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/vendors/chart.js/Chart.min.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/vendors/flot/jquery.flot.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/vendors/flot/jquery.flot.resize.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/vendors/flot/jquery.flot.categories.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/vendors/flot/jquery.flot.fillbetween.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/vendors/flot/jquery.flot.stack.js') }}"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{{ asset('assets/admin/assets/js/off-canvas.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/js/hoverable-collapse.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/js/misc.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/js/settings.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/js/todolist.js') }}"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script src="{{ asset('assets/admin/assets/js/dashboard.js') }}"></script>
        <script src="{{ asset('assets/admin/assets/js/file-upload.js') }}"></script>


    {% endblock %}


{% endblock %}
