
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/admin//assets/vendors/mdi/css/materialdesignicons.min.css') }}">
     <link rel="stylesheet" href="{{ asset('assets/admin//assets/vendors/flag-icon-css/css/flag-icon.min.css') }}">
     <link rel="stylesheet" href="{{ asset('assets/admin//assets/vendors/css/vendor.bundle.base.css') }}">
     <!-- endinject -->
     <!-- Plugin css for this page -->
     <link rel="stylesheet" href="{{ asset('assets/admin//assets/vendors/jquery-bar-rating/css-stars.css') }}" />
     <link rel="stylesheet" href="{{ asset('assets/admin//assets/vendors/font-awesome/css/font-awesome.min.css') }}" />
     <!-- End plugin css for this page -->
     <!-- inject:css -->
     <!-- endinject -->
     <!-- Layout styles -->
     <link rel="stylesheet" href="{{ asset('assets/admin/assets/css/demo_1/style.css') }}" />
     <!-- End layout styles -->
     <link rel="shortcut icon" href="{{ asset('assets/admin/assets/images/') }}" />

 {% endblock %}
{% block body %}
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile border-bottom">
                    <a href="#" class="nav-link flex-column">
                        <div class="nav-profile-image">
                            <img src="{{ asset('uploads/images/' ~ app.user.photo.image) }}" alt="profile" />
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
                            <span class="font-weight-semibold mb-1 mt-2 text-center">{{ app.user.nom }} {{ app.user.prenom }}</span>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="mdi mdi-compass-outline menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="mdi mdi-dns menu-icon"></i>
                        <span class="menu-title">Categories</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/categories">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/newcategory">New Category</a>
                            </li>

                        </ul>
                    </div>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="mdi mdi-account-multiple menu-icon"></i>
                        <span class="menu-title">Instructors</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/instructors">Instructors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/applications">Applications</a>
                            </li>

                        </ul>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="pages/icons/mdi.html">
                        <i class="mdi mdi-account-circle menu-icon"></i>
                        <span class="menu-title">Students</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="mdi mdi-camera-iris menu-icon"></i>
                        <span class="menu-title"> Enrolments</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/enrolments">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/enrol">Enrol a student</a>
                            </li>

                        </ul>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="mdi mdi-contacts menu-icon"></i>
                        <span class="menu-title">Profile</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/profile-edit">Edit Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/pass-edit">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/photo-edit">Profile Picture</a>
                            </li>

                        </ul>
                    </div>
                </li>


            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div id="settings-trigger"><i class="mdi mdi-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles default primary"></div>
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles light"></div>
                </div>
            </div>
            <!-- partial -->
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-chevron-double-left"></span>
                    </button>
                    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                        <a class="navbar-brand brand-logo-mini" href="/"><img src="{{ asset('assets/admin/assets/images/logo-mini.svg')}}" alt="logo" /></a>
                    </div>
                  
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item nav-logout d-none d-lg-block">
                            <a class="nav-link" href="/">
                                <i class="mdi mdi-home-circle"></i>
                            </a>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    <div class="page-header flex-wrap">
                        <div class="header-left">
                        </div>
                        <div class="header-right d-flex flex-wrap mt-2 mt-sm-0">
                            <div class="d-flex align-items-center">
                               
                              
                            </div>
                          
                        </div>
                    </div>
         
                    
      
                    <!-- last row starts here -->
                    <div class="row">
                        <div class="col-sm-6 col-xl-4 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title mb-2">Upcoming events (3)</div>
                                    <h3 class="mb-3">23 september 2019</h3>
                                    <div class="d-flex border-bottom border-top py-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" checked /></label>
                                        </div>
                                        <div class="pl-2">
                                            <span class="font-12 text-muted">Tue, Mar 5, 9.30am</span>
                                            <p class="m-0 text-black"> Hey I attached some new PSD files… </p>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom py-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" /></label>
                                        </div>
                                        <div class="pl-2">
                                            <span class="font-12 text-muted">Mon, Mar 11, 4.30 PM</span>
                                            <p class="m-0 text-black"> Discuss performance with manager </p>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom py-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" /></label>
                                        </div>
                                        <div class="pl-2">
                                            <span class="font-12 text-muted">Tue, Mar 5, 9.30am</span>
                                            <p class="m-0 text-black">Meeting with Alisa</p>
                                        </div>
                                    </div>
                                    <div class="d-flex pt-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" /></label>
                                        </div>
                                        <div class="pl-2">
                                            <span class="font-12 text-muted">Mon, Mar 11, 4.30 PM</span>
                                            <p class="m-0 text-black"> Hey I attached some new PSD files… </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-4 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex border-bottom mb-4 pb-2">
                                        <div class="hexagon">
                                            <div class="hex-mid hexagon-warning">
                                                <i class="mdi mdi-clock-outline"></i>
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <h4 class="font-weight-bold text-warning mb-0"> 12.45 </h4>
                                            <h6 class="text-muted">Schedule Meeting</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom mb-4 pb-2">
                                        <div class="hexagon">
                                            <div class="hex-mid hexagon-danger">
                                                <i class="mdi mdi-account-outline"></i>
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <h4 class="font-weight-bold text-danger mb-0">34568</h4>
                                            <h6 class="text-muted">Profile visits</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom mb-4 pb-2">
                                        <div class="hexagon">
                                            <div class="hex-mid hexagon-success">
                                                <i class="mdi mdi-laptop-chromebook"></i>
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <h4 class="font-weight-bold text-success mb-0"> 33.50% </h4>
                                            <h6 class="text-muted">Bounce Rate</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom mb-4 pb-2">
                                        <div class="hexagon">
                                            <div class="hex-mid hexagon-info">
                                                <i class="mdi mdi-clock-outline"></i>
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <h4 class="font-weight-bold text-info mb-0">12.45</h4>
                                            <h6 class="text-muted">Schedule Meeting</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="hexagon">
                                            <div class="hex-mid hexagon-primary">
                                                <i class="mdi mdi-timer-sand"></i>
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <h4 class="font-weight-bold text-primary mb-0"> 12.45 </h4>
                                            <h6 class="text-muted mb-0">Browser Usage</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-4 stretch-card grid-margin">
                            <div class="card color-card-wrapper">
                                <div class="card-body">
                                    <img class="img-fluid card-top-img w-100" src="{{ asset('assets/admin/assets/images/dashboard/img_5.jpg') }}" alt="" />
                                    <div class="d-flex flex-wrap justify-content-around color-card-outer">
                                        <div class="col-6 p-0 mb-4">
                                            <div class="color-card primary m-auto">
                                                <i class="mdi mdi-clock-outline"></i>
                                                <p class="font-weight-semibold mb-0">Delivered</p>
                                                <span class="small">15 Packages</span>
                                            </div>
                                        </div>
                                        <div class="col-6 p-0 mb-4">
                                            <div class="color-card bg-success m-auto">
                                                <i class="mdi mdi-tshirt-crew"></i>
                                                <p class="font-weight-semibold mb-0">Ordered</p>
                                                <span class="small">72 Items</span>
                                            </div>
                                        </div>
                                        <div class="col-6 p-0">
                                            <div class="color-card bg-info m-auto">
                                                <i class="mdi mdi-trophy-outline"></i>
                                                <p class="font-weight-semibold mb-0">Arrived</p>
                                                <span class="small">34 Upgraded</span>
                                            </div>
                                        </div>
                                        <div class="col-6 p-0">
                                            <div class="color-card bg-danger m-auto">
                                                <i class="mdi mdi-presentation"></i>
                                                <p class="font-weight-semibold mb-0">Reported</p>
                                                <span class="small">72 Support</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


{% block javascripts %}
    <script src="{{ asset('assets/admin/assets/vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{ asset('assets/admin/assets/vendors/jquery-bar-rating/jquery.barrating.min.js') }}"></script>
    <script src="{{ asset('assets/admin/assets/vendors/chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/admin/assets/vendors/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('assets/admin/assets/vendors/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('assets/admin/assets/vendors/flot/jquery.flot.categories.js') }}"></script>
    <script src="{{ asset('assets/admin/assets/vendors/flot/jquery.flot.fillbetween.js') }}"></script>
    <script src="{{ asset('assets/admin/assets/vendors/flot/jquery.flot.stack.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ asset('assets/admin/assets/js/off-canvas.js') }}"></script>
    <script src="{{ asset('assets/admin/assets/js/hoverable-collapse.js') }}"></script>
    <script src="{{ asset('assets/admin/assets/js/misc.js') }}"></script>
    <script src="{{ asset('assets/admin/assets/js/settings.js') }}"></script>
    <script src="{{ asset('assets/admin/assets/js/todolist.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{ asset('assets/admin/assets/js/dashboard.js') }}"></script>

    {% endblock %}
{% endblock %}
